In [1]:
import pandas as pd 
data_national = pd.read_csv('migrants_in_years.csv', sep = ';')
data_national = data_national.rename(columns={'Migratieachtergrond': 'MigratieachtergrondId'})
#data_wijk_stadsdeelcode['wijkcode'] = data_wijk_stadsdeelcode['wijkcode'].str.replace('\D', '', regex=True)
#data_wijk_stadsdeelcode = data_wijk_stadsdeelcode.drop_duplicates(subset=["wijkcode"], keep='first')
print(data_national.shape)
data_national.head()

(7128, 8)

,ID,Geslacht,Leeftijd,BurgerlijkeStaat,Generatie,MigratieachtergrondId,Perioden,Bevolking_1
0,0,T001038,10000,T001019,T001040,T001040,1996JJ00,15493889.0
1,1,T001038,10000,T001019,T001040,T001040,1997JJ00,15567107.0
2,2,T001038,10000,T001019,T001040,T001040,1998JJ00,15654192.0
3,3,T001038,10000,T001019,T001040,T001040,1999JJ00,15760225.0
4,4,T001038,10000,T001019,T001040,T001040,2000JJ00,15863950.0

In [2]:
metadata_national = pd.read_csv('migrants_in_years_metadata.csv')
#data_wijk_stadsdeelcode = data_wijk_stadsdeelcode[['Wijkcode', 'Stadsdeelcode']]
#data_wijk_stadsdeelcode = data_wijk_stadsdeelcode.rename(columns={'Wijkcode': 'wijkcode'})
#data_wijk_stadsdeelcode['wijkcode'] = data_wijk_stadsdeelcode['wijkcode'].str.replace('\D', '', regex=True)
#data_wijk_stadsdeelcode = data_wijk_stadsdeelcode.drop_duplicates(subset=["wijkcode"], keep='first')

print(metadata_national.shape)
metadata_national.head()

(456, 21)

,ID,Title,ShortTitle,Identifier,Summary,Modified,ReasonDelivery,ExplanatoryText,Language,Catalog,...,Period,ShortDescription,Description,DefaultPresentation,DefaultSelection,GraphTypes,OutputStatus,Source,MetaDataModified,SearchPriority
0,0,"Bevolking; geslacht, lft, generatie en migr.ac...",Bevolking; migr.achtergrond; 1996-2022,37325,"Bevolking naar geslacht, leeftijd, burgerlijke...",2022-05-31 2:00:00,Stopgezet,NaN,nl,CBS,...,1996 - 2022,\nBevolking van Nederland op 1 januari naar ge...,INHOUDSOPGAVE\n\n1. Toelichting\n2. Definities...,ts=1665754302145&graphtype=Table&r=Migratieach...,$filter=((Geslacht eq 'T001038')) and ((Leefti...,"Table,Bar,Line",Gediscontinueerd,CBS.,2023-01-13 2:00:00,1.0
1,DataProperties,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ID,Position,ParentID,Type,Key,Title,Description,ReleasePolicy,Datatype,Unit,...,Default,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0,0,NaN,Dimension,Geslacht,Geslacht,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1,1,NaN,Dimension,Leeftijd,Leeftijd,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
def get_nationaliteit(row):
    data_row = metadata_national[metadata_national['ID'] == row['MigratieachtergrondId']]
    value = "" if data_row.empty else data_row['Title'].iloc[0]
    return value
    
def get_year(row):
    data_row = metadata_national[metadata_national['ID'] == row['Perioden']]
    value = "" if data_row.empty else data_row['Title'].iloc[0]
    return value
    

data_national = data_national.copy()

data_national['Migratieachtergrond'] = data_national.apply(lambda row: get_nationaliteit(row), axis=1)
data_national['Jaar'] = data_national.apply(lambda row: get_year(row), axis=1)

print(data_national.shape)
data_national.head()

(7128, 10)

,ID,Geslacht,Leeftijd,BurgerlijkeStaat,Generatie,MigratieachtergrondId,Perioden,Bevolking_1,Migratieachtergrond,Jaar
0,0,T001038,10000,T001019,T001040,T001040,1996JJ00,15493889.0,Totaal,1996
1,1,T001038,10000,T001019,T001040,T001040,1997JJ00,15567107.0,Totaal,1997
2,2,T001038,10000,T001019,T001040,T001040,1998JJ00,15654192.0,Totaal,1998
3,3,T001038,10000,T001019,T001040,T001040,1999JJ00,15760225.0,Totaal,1999
4,4,T001038,10000,T001019,T001040,T001040,2000JJ00,15863950.0,Totaal,2000

In [4]:
data_national = data_national[['MigratieachtergrondId','Migratieachtergrond', 'Jaar', 'Bevolking_1']]
data_national.to_csv(r'amsterdamers_nationaliteit.csv', index = False)
data_national.to_excel('amsterdamers_nationaliteit.xlsx', index = None, header=True)

KeyError: "['NationaliteitId', 'Nationaliteit'] not in index"